[alias]
    ## commit
    c  = commit
    ci = commit
    ca = commit --amend
    ## diff
    di  = diff --no-prefix
    dc  = diff --no-prefix --cached
    df  = diff --no-prefix --diff-algorithm=patience --word-diff=color --ignore-all-space
    dfc = diff --no-prefix --diff-algorithm=patience --word-diff=color --ignore-all-space --cached
    ## rebase
    r  = rebase
    rc = rebase --continue
    ## status
    s  = status
    st = status
    ## log
    l    = log --oneline --graph --all --decorate --simplify-by-decoration
    lall = log --oneline --graph --all --decorate
    # %h  => abbreviated commit hash
    # %an => author name
    # %ae => author email
    # %cd => commit date in --date=[...] format
    # %ci => commit date in ISO-8601
    # %cr => commit date in relative terms
    lo   = log --date=format-local:'%Y-%m-%d %H:%M' --pretty=tformat:'%C(yellow)%h%C(reset) %C(magenta)%cd%C(reset) %C(bold blue)%an%C(reset): %s'

[color]
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto

[core]
    pager = cat

[credential]
    helper = osxkeychain

[credential "https://github.com"]
    username = chbrown

[diff]
    colorMoved = default

[diff "clojure"]
    #            ⬐ collection delimiters
    #            ↓           ⬐ keywords / symbols
    #            ↓           ↓                           ⬐ everything else
    wordRegex = "[#{}()[\\]]|[:']?[-a-zA-Z0-9*+!_'?.<>]+|[^[:space:]]"

[init]
    templateDir = ~/.config/git/templates

[log]
    date = iso

[tag]
    sort = version:refname

[user]
    name = Christopher Brown
    email = io@henrian.com
