[alias]
    ## commit
    c  = commit
    ci = commit
    ca = commit --amend
    ## diff
    di  = diff --no-prefix
    dc  = diff --no-prefix --cached
    df  = diff --no-prefix --diff-algorithm=patience --word-diff=color --ignore-all-space
    dcf = diff --no-prefix --cached --diff-algorithm=patience --word-diff=color --ignore-all-space
    ## rebase
    r  = rebase
    rc = rebase --continue
    ## show
    sh = show
    shf = show --diff-algorithm=patience --word-diff=color --ignore-all-space
    ## status
    s  = status
    st = status
    ## log
    # --all => show all refs/* (including HEAD), not just the specified commit
    # --graph => draw a text-based graphical representation of the commit history
    # --decorate => show ref names of listed commits
    l    = log --all --decorate --graph --oneline --simplify-by-decoration
    lall = log --all --decorate --graph --oneline
    # tformat:* => just like format:*, but using terminator rather than separator semantics (--oneline behavior)
    # %h  => abbreviated commit hash
    # %an => author name
    # %ae => author email
    # %cd => commit date in --date=[...] format
    # %ci => commit date in ISO-8601
    # %cr => commit date in relative terms
    # %d  => ref names (like --decorate)
    # %C(...)
    #   Basic accepted colors: normal, black, red, green, yellow, blue, magenta, cyan, white
    #   The first color given is the foreground; the second is the background.
    #   Accepted attributes: bold, dim, ul, blink, reverse, italic, strike
    #   %C(auto) uses the built-in default color (for TTY) when interpreting %d and %h (among others?)
    # References: https://git-scm.com/docs/pretty-formats, https://git.io/garybernhardt-dotfiles-githelpers
    # N.b.: realignment (to accommodate graph) using tabs is fragile (TODO: maybe use %<|(...) alignment?)
    lal  = log --all --graph --pretty=tformat:'%C(auto)%h%C(reset)%x09%C(magenta)%>(12)%ar %C(bold blue)%>(17)%ae%C(auto): %s%d%C(reset)'
    lo   = log --date=format-local:'%Y-%m-%d %H:%M' --pretty=tformat:'%C(yellow)%h%C(reset) %C(magenta)%cd%C(reset) %C(bold blue)%an%C(reset): %s'
    ## ls-files
    ls = ls-files

[color]
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto

[core]
    pager = cat

[credential]
    helper = osxkeychain

[credential "https://github.com"]
    username = chbrown

[diff]
    colorMoved = default

[diff "clojure"]
    #            ⬐ collection delimiters
    #            ↓           ⬐ keywords / symbols
    #            ↓           ↓                           ⬐ everything else
    wordRegex = "[#{}()[\\]]|[:']?[-a-zA-Z0-9*+!_'?.<>]+|[^[:space:]]"

[init]
    templateDir = ~/.config/git/templates

[log]
    date = iso

[tag]
    sort = version:refname

[user]
    name = Christopher Brown
    email = io@henrian.com
