<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!--
  Install:
      sudo cp local.launchctl_limit_maxfiles.plist /Library/LaunchDaemons/
      sudo chmod 644 /Library/LaunchDaemons/local.launchctl_limit_maxfiles.plist
      sudo chown root:wheel /Library/LaunchDaemons/local.launchctl_limit_maxfiles.plist
  -->
  <key>Label</key>
  <string>local.launchctl_limit_maxfiles</string>
  <key>ProgramArguments</key>
  <array>
    <string>launchctl</string>
    <string>limit</string>
    <string>maxfiles</string>
    <!-- using "unlimited" as the limit seems to be interpreted as 10240 (at least,
         when called with 4096 as the soft limit, so maybe it just multiplies by 2.5?) -->
    <string>4096</string>
    <string>65536</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
